{% extends "layouts/base.html" %}

{% block content %}
<div class="max-w-screen-lg mx-auto px-4 mb-20">
  <div class="bg-white py-4 px-4 shadow">

    <h1 class="text-3xl capitalize my-2">{{ title }}</h1>
    <h2>{{ page.date | prettyDate }}</h2>
    <div>
      {%- for tag in tags %}
      <span class="bg-gray-200 rounded-full px-2 py-1">{{ tag }}</span>
      {% endfor %}
    </div>

    <hr class="my-4" />

    {{ content | safe }}
  </div>
</div>

{% include "partials/latest-post.html" %}
{% include "partials/about.html" %}
{% include "partials/tech-stack.html" %}
{% endblock %}