<section class="bg-gray-900 text-white h-60">
  <div class="conainer mx-auto py-4 flex flex-col justify-center items-center h-full">
    <h1 class="text-3xl">Tech<span class="font-thin">Stack</span></h1>
    <p><a href="https://11ty.dev" class="underline">11ty</a> - Static site generator</p>
    <p><a href="https://tailwindcss.com" class="underline">tailwindcss</a> - Utitlity first css</p>
    <p><a href="https://alpinejs.dev" class="underline">Alpine.js</a> - lightweight javascript interactions</p>
  </div>

</section>